:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --nav-bg-color: rgba(255, 255, 255, 0.8);
    --nav-text-color: #1e293b;
    --link-color: #007bff;
    --active-link-bg-color: #007bff;
    --active-link-text-color: #ffffff;
}

.dark-mode {
    --bg-color: #0c0a09;
    --text-color: #fafaf9;
    --nav-bg-color: rgba(12, 10, 9, 0.8);
    --nav-text-color: #fafaf9;
    --link-color: #007bff;
    --active-link-bg-color: #007bff;
    --active-link-text-color: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Lucida Console', monospace;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 14px;
    margin-top: 14px;
    margin-bottom: 20px;
    /* background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    /* border-radius: 10px; */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
    align-items: center;
    height: 100%;
}

/* nav ul li {
    display: flex;
    align-items: center;
} */

nav ul li a {
    text-decoration: none;
    color: var(--nav-text-color);
    display: flex;
    align-items: center;
    height: 100%;
}

.active {
    font-weight: bold;
}

nav span {
    color: var(--nav-text-color);
}

.theme-toggle {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    cursor: pointer;
}

.theme-toggle input {
    display: none;
}

.theme-toggle .emoji {
    font-size: 1.25em;
    /* vertical-align: middle;
    display: inline-flex;
    align-items: center; */
}

.separator {
    pointer-events: none;
    user-select: none;
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 100%;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    text-align: center;
}

footer img {
    height: 72px;
}

footer a {
    display: flex;
    justify-content: center;
}