:root {
    --bg-color: #fafaf9;
    --text-color: #000000;
    --nav-text-color: #000000;
}

.dark-mode {
    --bg-color: #39373b;
    --text-color: #fafaf9;
    --nav-text-color: #fafaf9;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Lucida Console', monospace;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
}

#nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
}

.nav-list-link {
    text-decoration: none;
    color: var(--nav-text-color);
}

.active {
    text-decoration: underline;
    font-weight: bold;
}

.separator {
    pointer-events: none;
    user-select: none;
    padding: 0 10px;
}

/* Theme Toggle */
#theme-toggle {
    cursor: pointer;
}

#theme-toggle-switch {
    display: none;
}

#theme-icon {
    font-size: 1.25em;
}

/* Main Content */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.validator-image-container {
    display: flex;
    justify-content: center;
}

.validator-image {
    padding: 20px 20px;
    height: 60px;
}