h1 {
    margin-top: 48px;
    text-align: center;
}

#gif {
    width: 95%;
    max-width: 100%;
}

/* Small screens and up */
@media (min-width: 480px) {
    #gif {
        width: 85%;
    }
}

/* Medium screens and up */
@media (min-width: 600px) {
    #gif {
        width: 75%;
    }
}

/* Medium-large screens and up */
@media (min-width: 800px) {
    #gif {
        width: 70%;
    }
}

/* Large screens and up */
@media (min-width: 1024px) {
    #gif {
        width: 60%;
    }
}