html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    margin-bottom: 50px;
    padding: 20px;
}

button {
    font-family: system-ui;
    text-align: center;
    transform: scale(1.5);
}