.music-container {
    max-width: 800px;
    width: 100%;
}

.music-track {
    display: flex;
    margin-bottom: 24px;
    padding: 4px;
}

.music-cover {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.music-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Small screens and up */
@media (max-width: 800px) {
    .music-track {
        flex-direction: column;
        align-items: center;
    }

    .music-cover {
        margin-bottom: 8px;
    }
}

/* Medium-large screens and up */
@media (min-width: 800px) {
    .music-container {
        max-width: 700px;
    }
}

/* Large screens and up */
@media (min-width: 1024px) {
    .music-container {
        max-width: 924px;
    }
}